<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bill</title>
</head>
<body>

  

      <h3>Status: {{ bill.bill_status }} </h3> 
      <h3>Bill ID: {{ bill.bill_id }} </h3>
      <h3>Bill date: {{ bill.bill_date }} </h3> 
      <h3>Bill status: {{ bill.bill_status }} </h3> 
      <h3>Total: {{ bill.total_pay }} </h3> 
      <h3>Payment method: {{ bill.payment_method }} </h3>

  
  

</body>
</html>