{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<style>
.mydiv {
  display: inline-block;
    margin-left: 20px;
     
    
}
input {
  padding: 10px;
    border: 1px solid #E5E5E5;
    width: 200px;
      
   float:right;
  
}
label {
    display: inline-block;
    margin-left: 10px;
    color: #999999;
    min-width: 110px;
}
</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BrightSide :) - Register</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css" href="{% static '/css/all.min.css' %}">

    <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form method="POST" action="">
						{% csrf_token %}
           <div class="mydiv">
						<div class="input-group mb-3">
							<div class="input-group-append">
								
							</div>
					<label for="username">Username:</label>  {{form.username}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								
							</div>
					<label for="email">Email:</label>  {{form.email}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
							
							</div align:center>
					<label for="password1">Password:</label>  {{form.password1}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								
							</div>
					<label for="password2">Re-Enter:</label>  {{form.password2}}
						</div>
</div>


				   		<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn login_btn" type="submit" value="Register Account">
				   		</div>

					</form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'forgot_pass' %}">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
<script>
	
		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username..';
		form_fields[2].placeholder='Email..';
		form_fields[3].placeholder='Enter password...';
		form_fields[4].placeholder='Re-enter Password...';


		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
	</script>
</body>

</html>